.box
{
    border: 1px solid #CCCCCC;
    color: #AAAAAA;
    display: inline-block;
    font-size: 13px;
    height: 115px;
    padding: 10px;
    width: 300px;
    position:relative;
    text-align:left;
}
.box .edit, .box .delete
{
    position:absolute;
    top:0px;
    display:none;
    cursor:pointer;
}
.box .edit
{
    right:24px;
}
.box .delete
{
    right:0px;
}
.title_box
{
    background-color: transparent;
    border-bottom: 1px solid #129296;
    font-size: 24px;
    margin: 5px;
    padding: 5px;
    width: 965px;   
    color:#0A8C8E;
    text-align:left;
}
.title_box .buttom
{
    float:right;
}
.title_box .buttom b
{
    font-weight:bold;
}
.box .info, .box .info span, .box .info img, .box .row,.box .icon
{
    float:left;
    word-wrap: break-word;
}
.box .info 
{
    width:220px;
}
.box .row
{
    width:220px;
}
.box .icon
{
    margin-right:10px;
}
.box span
{
    color:#555;
    font-size:13px;
}
.box .title
{
    font-size:18px;
    color:#0A8C8E;
    width:200px;
    font-weight:normal;
}
.box a
{
    color:#aaa;
    margin-left:10px;
}
.content
{
    text-align:center;
    color:#555;
}
.toolbar
{
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
    padding:5px;
    text-align:right;
}